#header-box {
  color: white;
  background-color: rgb(125, 35, 35);
  text-align: center;
  font-style: italic;
}

#header-box {
  height: 50px;
  width: 230px;
}

#box1 {
  height: 200px;
  width: 230px;
  background-color: bisque;
}

.main-div {
  margin-top:15rem;
  margin-left: 37rem;
}

.box {
  
}

body {
  background-color: rgb(102, 132, 197);
}



